/* Global Styles */
* {
    color: #303841;
}

#top {
  background-color: #33ff88;  
  margin-top: 15px;
padding-top: 10px;
border: solid, grey, 2px;
width: 1000px;
margin-left: auto;
margin-right: auto;
}

/* Fields Styles */

fieldset {
    margin-top: 4px;
    background-color:  #8f8e6e;
}

legend {
color: #d46622;
background-color:  #ccadbe;
border: solid, 1px, #72072e;
padding: 3px;
font-weight: bold;
}

/* Table Styles */

table {
    width: 80%;
    margin: 4px;
    padding: 4px;
    }
    
    td {
        padding: 2px;
    }

    /* required Styles */
.required {
color #ffa600;
}

/* Data Styles */

p.data {
    padding-left: 8px;
}

[type|="submit"] {
    background: #FFF574;
  }