/* Global Styles */
body {
    margin: auto;
    
background: linear-gradient(180deg, rgba(142,254,118,1) 0%, 
rgba(8,234,220,1) 35%, rgba(215,213,214,1) 100%);
}


.container {
    display: grid;
    grid-template-columns: 100%; 
    grid-template-rows: 150px 70px 160px 180px 100px;
  }

  .item1 {
   justify-content: center;
   align-items: center;
   text-align: center;
   padding-top: 5px;
  }

  .item1 img {
    width: 200px;
  }



.item4 {
   
    padding-bottom: 5%;
    line-height: 0.5;
    padding-top: 3%;
}


/* Title Styles */
.title {
    margin-left: 2%;
}



/* List of Services Styles */
.services {
    margin-left: 5%;
}



/* About Styles */
.about {
    margin-left: 2%;
}


/* Footer Styles */
ul.contact {
    list-style: none;
    line-height: 1.5;
}

a:link {
    text-decoration-line: none;
}

.item5 {
    position: absolute;
    bottom: 0;
   text-align: center;
   width: 100%;
   padding-top: 3%;
}


