/* Global Styles */
body {
    margin: auto;
}

h1, h2 {
    text-align: center;
    margin: auto;
    line-height: 2;
}

/* Nav Styles */
.nav {
    background-color:#97ca66;
    padding-top: 3%;
    padding-bottom: 3%;
}



/* Title Styles */




/* List of Services Styles */




/* About Styles */



/* Footer Styles */
ul.contact {
    list-style: none;
}

a:link {
    text-decoration-line: none;
}

#footer {
    position: absolute;
    bottom: 0;
   text-align: center;
   width: 100%;
   background-color: #D7D5D6;
}